TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
USER_ID_OR_UPN=
TEAMS_TARGET_USER_ID=
SHAREPOINT_SITE_ID=
SHAREPOINT_LIST_EMAIL_LOG=
SHAREPOINT_LIST_HISTORICAL_LOG=
DEFAULT_TIMEZONE=Europe/Paris
MODE_SIMULATION_HISTORIQUE=true
